{% extends 'blog/base.html' %}  <!-- осуществляем наследование разметки, находимся мы в папке templates
    extends - ключевое слово для наследования -->

{% block title %}
    Восстановление пароля  
{% endblock %}

{% block content %}
    <h1>Восстановление пароля</h1> 
    <form method="post" class="form-register auth">
        {% csrf_token %} <!-- обязательно прописывать для получения данных из форм -->
        {{ form.as_p }} <!-- выводим импортированную форму. as_p - чтобы каждое поле отображалось как параграф -->
        <button class="btn btn-outline-warning" type="submit">Запросить новый пароль</button> <!-- обязательно submit -->
    </form> <!-- если не указываем action - обработка формы происходит на текущей странице -->
    
{% endblock %}

{% block aside %}
<h4 class="mt-2">Интересные статьи</h4>
<img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail">
<p>Для многих Python - это язык для написания веб проектов, машинного обучения или для анализа данных. На самом деле он более функционален и в этой статье мы вам это докажем.</p>

<a href="https://itproger.com/news/285" target="_blank">
  <button class="btn btn-warning">Посмотреть</button>
</a>

<img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail mt-4">
<p>Уже не первый год слышно много положительных отзывов про движок Godot. Пришло время узнать больше об этом движке и выяснить почему он столь популярен.</p>

<a href="https://itproger.com/news/285" target="_blank">
  <button class="btn btn-warning">Посмотреть</button>
</a>
{% endblock %}